.titleText {
    color: white;
    font-size: 22;
    font-weight: bold;
    background-color: darkblue;
}

#title, #classPicker, #resultLabel, #text {
    color: darkblue;
}

#buttonDraw, #buttonEditClass, #deleteButton, #saveButton, #addButton {
    color: #FFFFFF;
    background-color: #FF0000;
    width: 200;
}

#classNameEntry, #nameEntry, #numberEntry, #studentsList {
    background-color: grey;
}

.page {
    background-color: #303030;
}

NavigationPage {
    -maui-bar-background-color: #303030;
    -maui-bar-text-color: white;
}